<template>
  <div class="container my-5">
    <div class="row">
      <div class="col-md-3">

        <div class="card shadow">
          <div class="card-header p-0">
            <img src="https://media.discordapp.net/attachments/936604584460296205/1202642943488430140/IMG_0238.png?ex=65ce3385&is=65bbbe85&hm=e15372762b87875f1f764c016177fbeca336b079213d612ef69ca2f7d6b44869&=&format=webp&quality=lossless&width=696&height=359" class="card-img-top"
              alt="img">
          </div>
          <div class="card-body">
            <h5 class="cart-title">เกี่ยวกับเรา</h5>
            <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rerum quaerat perferendis
              quas eum doloribus molestiae!
            </p>
            <a href="#" class="btn btn-primary btn-sm" @click="notify">อ่านต่อ...</a>
          </div>
        </div>

      </div>

      <div class="col-md-6">

      </div>

    </div>
  </div>
</template>

<script setup>

</script>

<style>
@import url('https://fonts.googleapis.com/css2?family=Sarabun&display=swap');

h5,
p {
  font-family: 'Sarabun', sans-serif;
}

a {
  font-family: 'Sarabun', sans-serif;
}
</style>