<template>
  <div class="container my-5">
    <div class="row">
      <div class="col-md-3">

        <div class="card shadow">
          <div class="card-header p-0">
            <img src="https://media.discordapp.net/attachments/936604584460296205/1202635719936446464/image.png?ex=65ce2ccb&is=65bbb7cb&hm=67e7db46f3bd6b6d2c44e635e872392f92454f0554a5e510f52e40682b4ee383&=&format=webp&quality=lossless" class="card-img-top"
              alt="img">
          </div>
          <div class="card-body">
            <h5 class="cart-title">หน้าแรก</h5>
            <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rerum quaerat perferendis
              quas eum doloribus molestiae!
            </p>
            <a href="#" class="btn btn-primary btn-sm">อ่านต่อ...</a>
          </div>
        </div>

      </div>

      <div class="col-md-6">

      </div>

    </div>
  </div>
</template>

<script setup>
import { toast } from 'vue3-toastify';
import 'vue3-toastify/dist/index.css';


toast.info("ยินดีต้อนรับ วิทยาลัยเทคนิคตราด", {
  autoClose: 1500,
  position:toast.POSITION.TOP_CENTER
})

const notify = () => {
  toast.success("Wow so easy !", {
    autoClose: 2000,
  }); // ToastOptions
  return { notify };
}

</script>

<style>
@import url('https://fonts.googleapis.com/css2?family=Sarabun&display=swap');

h5,p {
  font-family: 'Sarabun', sans-serif;
}

a{
  font-family: 'Sarabun', sans-serif;
}
</style>